
:root {
  --black: #000;
  --red: #F00;
  --blue: #00F;
  --green: #0F0;
  --yellow: #FF0;
  --magenta: #F0F;
  --cyan: #0FF;
  --white: #FFF;
}

/*
 * Regular text
*/

.ansi_BLK { color: var(--black); }
.ansi_RED { color: var(--red); }
.ansi_GRN { color: var(--green); }
.ansi_YEL { color: var(--yellow); }
.ansi_BLU { color: var(--blue); }
.ansi_MAG { color: var(--magenta); }
.ansi_CYN { color: var(--cyan); }
.ansi_WHT { color: var(--white); }


/*
 * Bold text
*/

.ansi_BBLK { font-weight: bold; color:  var(--black); }
.ansi_BRED { font-weight: bold; color: var(--red); }
.ansi_BGRN { font-weight: bold; color: var(--green); }
.ansi_BYEL { font-weight: bold; color: var(--yellow); }
.ansi_BBLU { font-weight: bold; color: var(--blue); }
.ansi_BMAG { font-weight: bold; color: var(--magenta); }
.ansi_BCYN { font-weight: bold; color: var(--cyan); }
.ansi_BWHT { font-weight: bold; color: var(--white); }
.ansi_BOLD { font-weight: bold; }


/*
 * Underline text
*/

.ansi_UBLK { text-decoration: underline; color:  var(--black); }
.ansi_URED { text-decoration: underline; color: var(--red); }
.ansi_UGRN { text-decoration: underline; color: var(--green); }
.ansi_UYEL { text-decoration: underline; color: var(--yellow); }
.ansi_UBLU { text-decoration: underline; color: var(--blue); }
.ansi_UMAG { text-decoration: underline; color: var(--magenta); }
.ansi_UCYN { text-decoration: underline; color: var(--cyan); }
.ansi_UWHT { text-decoration: underline; color: var(--white); }


/*
 * Highlighted text
*/

.ansi_BLKB { background-color: var(--black); }
.ansi_REDB { background-color: var(--red); }
.ansi_GRNB { background-color: var(--green); }
.ansi_YELB { background-color: var(--yellow); }
.ansi_BLUB { background-color: var(--blue); }
.ansi_MAGB { background-color: var(--magenta); }
.ansi_CYNB { background-color: var(--cyan); }
.ansi_WHTB { background-color: var(--white); }


/*
 * High intensty background
 * Highlighted text
*/

/*
.ansi_BLKHB { color: 100m }
.ansi_REDHB { color: 101m }
.ansi_GRNHB { color: 102m }
.ansi_YELHB { color: 103m }
.ansi_BLUHB { color: 104m }
.ansi_MAGHB { color: 105m }
.ansi_CYNHB { color: 106m }
.ansi_WHTHB { color: 107m }
*/

/*
 * High intensty texts
 * Highlighted text
*/

/*
.ansi_HBLK { color: 90m }
.ansi_HRED { color: 91m }
.ansi_HGRN { color: 92m }
.ansi_HYEL { color: 93m }
.ansi_HBLU { color: 94m }
.ansi_HMAG { color: 95m }
.ansi_HCYN { color: 96m }
.ansi_HWHT { color: 97m }
*/

/*
 * Bold high intensty texts
 * Highlighted text
*/

/*
.ansi_BHBLK { font-weight: bold; color: 90m }
.ansi_BHRED { font-weight: bold; color: 91m }
.ansi_BHGRN { font-weight: bold; color: 92m }
.ansi_BHYEL { font-weight: bold; color: 93m }
.ansi_BHBLU { font-weight: bold; color: 94m }
.ansi_BHMAG { font-weight: bold; color: 95m }
.ansi_BHCYN { font-weight: bold; color: 96m }
.ansi_BHWHT { font-weight: bold; color: 97m }
*/

/*
 * Blinking text
*/
/*
.ansi_BLINK { \033[5m }
*/


/*
// Reset
.ansi_reset { \e[0m }
.ansi_CRESET { \e[0m }
.ansi_COLOR_RESET { \e[0m }
.ansi_BLINK_RESET { \033[0m }
*/
